<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>پنل مدیریت | داشبورد اول</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="~/plugins/font-awesome/css/font-awesome.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="~/plugins/iCheck/flat/blue.css">

  <!-- bootstrap rtl -->
  <link rel="stylesheet" href="~/dist/css/bootstrap-rtl.min.css">
  <!-- template rtl version -->
  <link rel="stylesheet" href="~/dist/css/custom-style.css">

      <link href="~/js/datatables.min.css" type="text/css" rel="stylesheet"/>
      <link href="~/js/DataTables-1.11.5/css/dataTables.bootstrap4.min.css" type="text/css" rel="stylesheet"/>

  @await  RenderSectionAsync("Header",false)
  
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

@{
  Html.RenderPartial("_NavBar");
}

<!-- Main Sidebar Container -->
@{
  if (User.IsInRole("admin"))
  {
    @Html.Partial("_AdminSideBar")
  }
  else
  {
    @Html.Partial("_SideBar")
  }
}


  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
@RenderBody()
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>CopyLeft &copy; 2018 <a href="http://github.com/hesammousavi/">حسام موسوی</a>.</strong>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap 4 -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Slimscroll -->
<script src="~/plugins/slimScroll/jquery.slimscroll.min.js"></script>

<!-- AdminLTE App -->
<script src="~/dist/js/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="~/dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/dist/js/demo.js"></script>
    <script src="~/lib/jquery-unobtrusive-ajax.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/datatables.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@@persian-tools/persian-tools/build/persian-tools.umd.js"></script>

@await RenderSectionAsync("Js",false)
</body>
</html>
