@model WebApplication2.Models.Products.NewProductPost

<div class="card card-info">
    <div class="card-header">
        <h4>افزودن سرویس جدید</h4>
    </div>
    <div class="card-body">


        <form data-ajax="true" data-ajax-url="@Url.Action("New2")" data-ajax-method="post" data-ajax-complete="completed">

            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="form-group">
                <label for="exampleInputEmail1">کد سرویس</label>
                <input type="text" class="form-control" placeholder="کد محصول(اختیاری)" asp-for="Code">
                <small class="form-text text-muted">در صورتی که کدی در سازمان برای این محصول ترتیب داده اید آن را وارد کنید</small>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">عنوان سرویس<span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="عنوان سرویس" asp-for="Name">
                <small class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">مبلغ سرویس<span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="مبلغ سرویس" asp-for="Price">
                <small class="form-text text-muted"></small>
            </div>

            <button type="submit" id="btnSubmit" class="btn btn-primary">درج سرویس جدید</button>

        </form>
    </div>
</div>

@section Header
{
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
}

@section Js
{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


    <script>
    function completed(data){
    if (data.status==true)
        {
            alert('ok');
            }
    else{
        alert('error');
        }
    }
    </script>
}
